.Rooms {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw 0 10vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.left {
    min-width: 50%;
}

.rigth {
    max-width: 50%;
}

.btnCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.cardCont {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}